
// Colors
$color_primary: rgb(237, 91, 31);
$color_secondary: #fff;
$color_gray: rgb(204, 204, 204);

// Dimensions
$width_container: 350px;
$height_container: 50px;

$width_input: 100%;
$height_input: 100%;

$width_button: 40px;
$height_button: 40px;
$width_icon: 15px;


// Borders
$border-radius-input: 45px;
$border-radius-button: 50%;

// Margins
$margin_button: 5px 5px;

// Shadow
$shadow_input: 0px 0px 15px rgba(0,0,0,0.1);

// Mixins
@mixin transition {
    transition: 0.2s all ease-in-out;
}



body, html {
    height: 100%;
    margin: 0;
}

body {
    display: grid;
    justify-items: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.modern-input {
    position: relative;
    display: flex;
    justify-items: stretch;
    width: $width_container;
    height: $height_container;
    border: none;
    border-radius: $border-radius-input;
    background-color: $color_secondary;
    box-shadow: $shadow_input;

    .info {
        display: flex;
        justify-content: center;
        width: $width_button;;
        min-width: $width_button;
        height: $height_button;
        margin: $margin_button;
        svg {
            width: $width_icon;
            color: $color_gray;
            path { fill: $color_gray; }
        }
    }

    .input {
        display: block;
        height: $width_input;
        width: $height_input;
        margin: 0;
        padding: 0;
        border: none;
    }
    .input::placeholder {
        color: $color_gray;
    }
    .input:focus,
    .button:focus { outline: none; }

    .button {
        @include transition;
        display: block;
        border: none;
        background-color: $color_secondary;
        margin: $margin_button;
        padding: 0;
        cursor: pointer;
        width: $width_button;
        min-width: $width_button;
        height: $height_button;
        border-radius: $border-radius-button;
        float: right;

        svg {
            @include transition;
            width: $width_icon;
            path { fill: $color_primary; }
        }
    }

    &:hover {
        .button {
            background-color: $color_primary;
            svg path { fill: $color_secondary }
        }
    }
}

#info {
    position: absolute;
    margin: 0 auto;
    left: 20px;
    bottom: 20px;
    color: $color_gray;
    span a {
        color: $color_gray;
    }
}